<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", new_user_session_path, class: "nav-link mx-2"%>
        </li>
        <li class="nav-item">
          <%= link_to "V & M Calender", calender_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Volunteer",  /volunteers, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Inventory", products_path, class: "nav-link"%>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if  current_user %>
          <li class="nav-item">
            <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary mx-2"%>
          </li>
          <li class="nav-item">
            <%= button_to "Sign Out", destroy_user_session_path, :method => :delete, class: "btn btn-outline-primary mx-2"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary mx-2"%>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary mx-2"%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
